In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn
from scipy import stats
from datetime import datetime
from sklearn import preprocessing
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [2]:
dataset = pd.read_csv('datasets_9961_14084_Train.csv')
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
dataset['Item_Identifier'] = dataset['Item_Identifier'].str[0:2]

In [4]:
for i in dataset.columns:
    print((dataset[i].value_counts()/len(dataset))*100)

FD    71.864367
NC    18.761000
DR     9.374633
Name: Item_Identifier, dtype: float64
12.150    1.009034
17.600    0.962103
13.650    0.903438
11.800    0.891705
15.100    0.797841
9.300     0.797841
16.700    0.774375
10.500    0.774375
19.350    0.739176
20.700    0.727443
16.000    0.727443
9.800     0.715710
17.700    0.703977
17.750    0.703977
15.000    0.692245
18.850    0.692245
15.850    0.692245
16.750    0.680512
18.250    0.680512
19.600    0.680512
15.700    0.668779
12.500    0.657046
9.195     0.657046
20.200    0.621847
12.100    0.621847
10.195    0.621847
12.600    0.621847
15.600    0.610114
13.500    0.598381
11.500    0.598381
            ...
5.305     0.035199
6.305     0.035199
7.710     0.035199
7.105     0.035199
5.825     0.035199
6.460     0.035199
5.425     0.035199
6.895     0.023466
8.920     0.023466
6.325     0.023466
6.400     0.023466
4.905     0.023466
5.675     0.023466
5.155     0.023466
7.275     0.023466
5.210     0.023466
8.485     0.023466
8.800     0.023466
5.885     0.023466
7.605     0.023466
6.405     0.023466
5.735     0.023466
8.670     0.023466
6.775     0.023466
7.890     0.023466
7.560     0.023466
9.420     0.011733
5.400     0.011733
6.520     0.011733
7.685     0.011733
Name: Item_Weight, Length: 415, dtype: float64
Low Fat    59.709023
Regular    33.896515
LF          3.707615
reg         1.372756
low fat     1.314091
Name: Item_Fat_Content, dtype: float64
0.000000    6.171536
0.076975    0.035199
0.041283    0.023466
0.085622    0.023466
0.187841    0.023466
0.134976    0.023466
0.107224    0.023466
0.085275    0.023466
0.076856    0.023466
0.059836    0.023466
0.112203    0.023466
0.044024    0.023466
0.072253    0.023466
0.061271    0.023466
0.061164    0.023466
0.145266    0.023466
0.081097    0.023466
0.071958    0.023466
0.103442    0.023466
0.074613    0.023466
0.072655    0.023466
0.071833    0.023466
0.136286    0.023466
0.041355    0.023466
0.026950    0.023466
0.013952    0.023466
0.160624    0.023466
0.080640    0.023466
0.097611    0.023466
0.096592    0.023466
              ...
0.100641    0.011733
0.122735    0.011733
0.099024    0.011733
0.054600    0.011733
0.118859    0.011733
0.162572    0.011733
0.076745    0.011733
0.015461    0.011733
0.057655    0.011733
0.042113    0.011733
0.029565    0.011733
0.066447    0.011733
0.035954    0.011733
0.083222    0.011733
0.021413    0.011733
0.030921    0.011733
0.081119    0.011733
0.052811    0.011733
0.118080    0.011733
0.046654    0.011733
0.021469    0.011733
0.060134    0.011733
0.096658    0.011733
0.019064    0.011733
0.164197    0.011733
0.092576    0.011733
0.067544    0.011733
0.115168    0.011733
0.146896    0.011733
0.050902    0.011733
Name: Item_Visibility, Length: 7880, dtype: float64
Fruits and Vegetables    14.455004
Snack Foods              14.079549
Household                10.676992
Frozen Foods             10.043412
Dairy                     8.001877
Canned                    7.614690
Baking Goods              7.602957
Health and Hygiene        6.101138
Soft Drinks               5.221166
Meat                      4.986507
Breads                    2.944972
Hard Drinks               2.510853
Others                    1.982870
Starchy Foods             1.736478
Breakfast                 1.290625
Seafood                   0.750909
Name: Item_Type, dtype: float64
172.0422    0.082131
188.1872    0.070398
170.5422    0.070398
109.5228    0.070398
196.5084    0.070398
142.0154    0.070398
196.5768    0.070398
192.2478    0.058665
143.2154    0.058665
108.6912    0.058665
37.4506     0.058665
177.9370    0.058665
179.7660    0.058665
120.8756    0.058665
121.3098    0.058665
110.1544    0.058665
49.8008     0.058665
127.1020    0.058665
154.4630    0.058665
261.2910    0.058665
48.8376     0.058665
152.8366    0.058665
37.9532     0.058665
107.4622    0.058665
113.2834    0.058665
184.2292    0.046932
180.3318    0.046932
174.0422    0.046932
147.3734    0.046932
173.9422    0.046932
              ...
244.4170    0.011733
231.8300    0.011733
108.1280    0.011733
177.6344    0.011733
241.8512    0.011733
260.0936    0.011733
109.1254    0.011733
241.4196    0.011733
253.7382    0.011733
97.4042     0.011733
164.9184    0.011733
60.5904     0.011733
185.9924    0.011733
74.5038     0.011733
218.5798    0.011733
227.6352    0.011733
41.2480     0.011733
171.9422    0.011733
162.0578    0.011733
46.1718     0.011733
114.1518    0.011733
185.7582    0.011733
253.5724    0.011733
174.1054    0.011733
225.3720    0.011733
212.8218    0.011733
190.3872    0.011733
162.6868    0.011733
189.1214    0.011733
51.3008     0.011733
Name: Item_MRP, Length: 5938, dtype: float64
OUT027    10.970316
OUT013    10.935117
OUT035    10.911651
OUT049    10.911651
OUT046    10.911651
OUT045    10.899918
OUT018    10.888185
OUT017    10.864719
OUT010     6.511792
OUT019     6.195002
Name: Outlet_Identifier, dtype: float64
1985    17.165317
1987    10.935117
1999    10.911651
1997    10.911651
2004    10.911651
2002    10.899918
2009    10.888185
2007    10.864719
1998     6.511792
Name: Outlet_Establishment_Year, dtype: float64
Medium    32.770151
Small     28.018303
High      10.935117
Name: Outlet_Size, dtype: float64
Tier 3    39.305409
Tier 2    32.676288
Tier 1    28.018303
Name: Outlet_Location_Type, dtype: float64
Supermarket Type1    65.434706
Grocery Store        12.706793
Supermarket Type3    10.970316
Supermarket Type2    10.888185
Name: Outlet_Type, dtype: float64
958.7520     0.199460
1342.2528    0.187727
1845.5976    0.175994
703.0848     0.175994
1278.3360    0.164261
1230.3984    0.164261
1416.8224    0.152528
1438.1280    0.140795
759.0120     0.140795
575.2512     0.140795
1211.7560    0.140795
539.2980     0.140795
852.2240     0.129063
1537.9980    0.129063
1701.7848    0.129063
639.1680     0.129063
679.1160     0.129063
2109.2544    0.129063
2277.0360    0.129063
1406.1696    0.129063
1304.9680    0.129063
2696.4900    0.117330
1470.0864    0.117330
1006.6896    0.117330
2117.2440    0.117330
2956.1520    0.117330
1821.6288    0.117330
2348.9424    0.117330
918.8040     0.117330
1677.8160    0.117330
               ...
6911.0040    0.011733
3837.0054    0.011733
4821.7236    0.011733
2526.0452    0.011733
3211.8192    0.011733
670.4606     0.011733
2706.4770    0.011733
316.2550     0.011733
4483.4972    0.011733
2119.9072    0.011733
2925.5252    0.011733
3542.7218    0.011733
6275.1650    0.011733
1803.6522    0.011733
2764.4016    0.011733
3073.9986    0.011733
1311.6260    0.011733
6524.8400    0.011733
1998.7316    0.011733
1599.9174    0.011733
5329.0632    0.011733
4610.6650    0.011733
3938.8728    0.011733
233.0300     0.011733
7478.2656    0.011733
3167.8764    0.011733
2226.4352    0.011733
1684.4740    0.011733
1574.6170    0.011733
6692.6216    0.011733
Name: Item_Outlet_Sales, Length: 3493, dtype: float64

In [5]:
dataset.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
dataset['Item_Weight'].fillna(dataset['Item_Weight'].mean(), inplace = True)

In [7]:
dataset['Outlet_Size'].fillna(dataset['Outlet_Size'].mode()[0], inplace = True)

In [8]:
dataset.pivot_table(index= 'Outlet_Size',values = 'Item_Outlet_Sales')

             Item_Outlet_Sales
Outlet_Size
High               2298.995256
Medium             2283.730470
Small              1912.149161

In [9]:
dataset['Age_Of_Company'] = 2020 - dataset['Outlet_Establishment_Year']
dataset['Age_Of_Company'].describe()

count    8523.000000
mean       22.168133
std         8.371760
min        11.000000
25%        16.000000
50%        21.000000
75%        33.000000
max        35.000000
Name: Age_Of_Company, dtype: float64

In [10]:
dataset['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [11]:
for i in dataset.columns:
    print(dataset[i].unique())

['FD' 'DR' 'NC']
[ 9.3         5.92       17.5        19.2         8.93       10.395
 13.65       12.85764518 16.2        11.8        18.5        15.1
 17.6        16.35        9.         13.35       18.85       14.6
 13.85       13.          7.645      11.65        5.925      19.25
 18.6        18.7        17.85       10.          8.85        9.8
 13.6        21.35       12.15        6.42       19.6        15.85
  7.39       10.195       9.895      10.895       7.905       9.195
  8.365       7.97       17.7        19.35        8.645      15.6
 18.25        7.855       7.825       8.39       12.85       19.
  5.905       7.76       16.75       15.5         6.055       6.305
 20.85       20.75        8.895      19.7         8.75       13.3
  8.31       19.75       17.1        10.5         6.635      14.15
  8.89        9.1         7.5        16.85        7.485      11.6
 12.65       20.25        8.6        12.6         8.88       20.5
 13.5         7.235       6.92        8.02       12.8        16.6
 14.         16.         21.25        7.365      18.35        5.465
  7.27        6.155      19.5        15.2        14.5        13.1
 12.3        11.1        11.3         5.75       11.35        6.525
 10.3         5.78       11.85       18.75        5.26       16.1
  9.5        13.8        14.65        6.67        6.11       17.2
  6.32        4.88        5.425      14.1         7.55       17.25
 12.         10.1         7.785      13.15        8.5         7.63
  9.285       7.975      15.7         8.985      20.35        6.59
 19.85        6.26       18.2         8.695       7.075       8.195
  7.09        6.095       6.15        9.395      15.75        7.475
  6.445      19.1        15.         16.7         7.07        6.48
  9.695      11.15        9.6        20.7         5.5         7.895
 17.35        7.285       6.17       11.395       7.71       12.1
 14.35        8.1         8.05       16.5         6.785       7.575
  7.47       15.25        7.605      18.         21.2         8.97
 10.6         6.865      10.8        15.15       18.1         6.655
 20.1         7.935      15.35       12.35        6.85        8.775
 14.85        7.84       12.5         8.325       5.765       5.985
 14.3         6.135       8.51        6.65        5.695       6.36
  8.3         7.56        8.71        6.695      14.8        17.75
  8.575       6.57        8.68        5.63        9.13        6.715
  5.82        7.93        5.          7.445       6.675       8.18
  6.98        7.435      20.6         8.355       8.975      20.2
  5.655       5.175      20.          7.67        4.785       8.395
  6.175       8.21        5.845       7.17        8.785       7.89
  5.32        5.03        8.945       6.28        7.565       9.31
  7.02        5.46        6.13        6.55       17.         16.25
  5.15        7.865       6.575       7.06        5.785       7.42
  6.235       6.75        5.86        5.035       6.38        5.675
 11.5        21.         21.1         4.61        7.          6.405
 14.7         7.68        8.185       8.655      10.85        8.42
  7.85        4.59        7.51       11.          6.71       14.75
  7.59        5.155       6.365       8.235       5.365       8.485
  7.535       4.92        6.385       8.26        7.945       8.63
  9.21        6.965       8.905       7.21        7.3         9.27
 10.695       6.215       7.405       7.72        6.115       6.035
  6.78       15.3         7.105       7.52        4.805       6.425
  7.6         6.61        7.325       8.115       5.94        5.635
  7.35        5.825       6.63        7.05        8.315       6.8
  7.035       8.96        5.51        8.43        8.27        7.81
  6.885       5.44        5.405       4.635      10.65        5.735
  6.465       8.84        7.75        6.765       9.065       7.655
  4.615       8.76        7.1         6.195       5.615       8.52
  7.26        6.825       5.325       5.59        5.88        5.19
  6.985       9.06        6.69        8.615       7.275       6.96
  9.17        8.155       5.73        8.935       8.92        7.36
  7.64        5.34        7.22        6.615       6.76        6.3
  5.98        8.06        6.44        5.095       8.8         6.325
  7.31        9.035       9.105       7.145       4.905       4.555
  8.          7.315       6.89        5.945       6.86        6.935
  6.03        7.725       5.885       7.155       6.46        5.48
  8.01        5.8         5.305       6.905       7.96        5.11
  8.77        7.685       8.275       8.38        8.35        9.42
  6.775       6.4         6.895       5.485       6.52        8.67
  5.21        5.4       ]
['Low Fat' 'Regular' 'low fat' 'LF' 'reg']
[0.0160473  0.01927822 0.01676007 ... 0.03518627 0.14522065 0.04487828]
['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
[249.8092  48.2692 141.618  ...  57.5904 214.5218  75.467 ]
['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019']
[1999 2009 1998 1987 1985 2002 2007 1997 2004]
['Medium' 'High' 'Small']
['Tier 1' 'Tier 3' 'Tier 2']
['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']
[3735.138   443.4228 2097.27   ... 7182.6504 3608.636  2778.3834]
[21 11 22 33 35 18 13 23 16]

In [12]:
dataset['Item_Fat_Content'] = dataset['Item_Fat_Content'].replace({'Low Fat':0, 'Regular':1, 'low fat':0, 'LF':0, 'reg':1})

In [13]:
#dataset['Item_Identifier'] = dataset['Item_Identifier'].replace({'FD':0, 'DR':1, 'NC':2})

In [14]:
dataset['Outlet_Size'] = dataset['Outlet_Size'].replace({'Small':0,'Medium':1,'High':2})

In [15]:
dataset['Outlet_Location_Type'] = dataset['Outlet_Location_Type'].replace({'Tier 1':0,'Tier 2':1,'Tier 3':2})

In [16]:
dataset['Outlet_Type'] = dataset['Outlet_Type'].replace({'Supermarket Type2':0,'Supermarket Type3':1,'Grocery Store':2,'Supermarket Type1':3})

In [17]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Age_Of_Company
0,FD,9.30,0,0.016047,Dairy,249.8092,OUT049,1999,1,0,3,3735.1380,21
1,DR,5.92,1,0.019278,Soft Drinks,48.2692,OUT018,2009,1,2,0,443.4228,11
2,FD,17.50,0,0.016760,Meat,141.6180,OUT049,1999,1,0,3,2097.2700,21
3,FD,19.20,1,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,1,2,2,732.3800,22
4,NC,8.93,0,0.000000,Household,53.8614,OUT013,1987,2,2,3,994.7052,33

In [20]:
from sklearn.linear_model import LinearRegression
X= dataset[['Age_Of_Company','Item_MRP','Item_Fat_Content','Outlet_Size','Outlet_Location_Type']]
Y = dataset['Item_Outlet_Sales']

In [21]:
reg = LinearRegression().fit(X,Y)

In [22]:
reg.score(X,Y)

0.3336572235747527

In [23]:
dataset = pd.get_dummies(dataset, drop_first=True)
dataset.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Age_Of_Company,...,Item_Type_Starchy Foods,Outlet_Identifier_OUT013,Outlet_Identifier_OUT017,Outlet_Identifier_OUT018,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049
0,9.30,0,0.016047,249.8092,1999,1,0,3,3735.1380,21,...,0,0,0,0,0,0,0,0,0,1
1,5.92,1,0.019278,48.2692,2009,1,2,0,443.4228,11,...,0,0,0,1,0,0,0,0,0,0
2,17.50,0,0.016760,141.6180,1999,1,0,3,2097.2700,21,...,0,0,0,0,0,0,0,0,0,1
3,19.20,1,0.000000,182.0950,1998,1,2,2,732.3800,22,...,0,0,0,0,0,0,0,0,0,0
4,8.93,0,0.000000,53.8614,1987,2,2,3,994.7052,33,...,0,1,0,0,0,0,0,0,0,0

In [24]:
x,y =dataset.drop(['Item_Outlet_Sales'],axis =1),dataset.Item_Outlet_Sales

In [25]:
x.shape,y.shape

((8523, 35), (8523,))

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 100)

In [27]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
lr_pred = lr.predict(x_test)
from sklearn.metrics import r2_score
r2_score(y_test,lr_pred)

0.5496568184359295